extends layout

block content
  h1 Welcome to the #{title} Test Page
  p Querying the database
  a(href='/') home
  p The following is the list of clusters in the database
  table(border="1", cellpadding="7", cellspacing="0")
    tr
      td 
        strong clusterID
      td 
        strong X-Coordinate
      td 
        strong Y-Coordinate
    - each cluster in clusters
      tr
        td #{cluster.clusterID}
        td #{cluster.xcoordinate}
        td #{cluster.ycoordinate}