extends layout

block content
  h1= title
  p Here are the links for seeing if the database is connected.
  p #[a(href='/employees') employees] 
  p #[a(href='/desks') desks]
  p #[a(href='/clusters') clusters] 
